.icon {
  display: inline-block;
  background-repeat: no-repeat;
  background-image: url(sprite.svg);
}
.icon-linkedin {
  width: 20px;
  height: 20px;
  background-position: 0 0;
}
.icon-twitter {
  width: 32px;
  height: 32px;
  background-position: 0 -36px;
}
.icon-atuty1_antenna {
  width: 32px;
  height: 32px;
  background-position: -48px -36px;
}
.icon-atuty2_clock {
  width: 32px;
  height: 32px;
  background-position: -96px -36px;
}
.icon-atuty3_diagram {
  width: 32px;
  height: 32px;
  background-position: -144px -36px;
}
.icon-atuty4_astronaut {
  width: 32px;
  height: 32px;
  background-position: -192px -36px;
}
.icon-header_mail_envelope {
  width: 43px;
  height: 32px;
  background-position: -240px -36px;
}
.icon-header_tel_smartphone {
  width: 20px;
  height: 32px;
  background-position: -336px -36px;
}
.icon-Logo1 {
  width: 56px;
  height: 32px;
  background-position: -384px -36px;
}
.icon-Logo2 {
  width: 56px;
  height: 32px;
  background-position: -480px -36px;
}
.icon-Logo3 {
  width: 57px;
  height: 32px;
  background-position: -576px -36px;
}
.icon-Logo4 {
  width: 57px;
  height: 32px;
  background-position: -672px -36px;
}
.icon-Logo5 {
  width: 57px;
  height: 32px;
  background-position: 0 -84px;
}
.icon-Logo6 {
  width: 57px;
  height: 32px;
  background-position: -96px -84px;
}
.icon-Social_links {
  width: 150px;
  height: 32px;
  background-position: -192px -84px;
}
.icon-social-facebook {
  width: 24px;
  height: 24px;
  background-position: 0 -132px;
}
.icon-instagram {
  width: 24px;
  height: 24px;
  background-position: -40px -132px;
}

